:root {
  --fondo-principal: #0d1117;
  --contenedores-cards: #161b22;
  --borde-separadores: #21262d;
  --texto-principal: #f0f6fc;
  --texto-secundario: #c9d1d9;
  --detalles: #8b949e;
  --boton-verde: #3fb950;
  --boton-azul: #2f81f7;
  --boton-rojo: #f85149;
  --advertencia: #d29922;
  --font-main: 'Inter', sans-serif;
}
